
<div class="row-fluid gameView">
	
		
	<div class="span10 offset2 ">
		
		<div class="row-fluid aboutIntro">
		 	<div id="aboutIntroText">{{App.translations.messages.WhatIs}} </div>
		</div>
		
		<div class="row-fluid">
			<div class="span8 offset2  classictext">
				{{App.translations.messages.AdillionsDesc}}
			</div>
		</div>

		<div class="row-fluid">
			<div class="span8 offset2  classictext">
				{{App.translations.messages.AdillionsWords}}
			</div>
		</div>
		
		<div class="row-fluid">
			<div class="span8 offset2  classictext">
				<ul>
					<li class="textli"><b>{{App.translations.messages.EasyTitle}}</b>{{App.translations.messages.EasyText}}</li>
					<li class="textli"><b>{{App.translations.messages.FunTitle}}</b>{{App.translations.messages.FunText}}</li>
					<li class="textli"><b>{{App.translations.messages.ViralTitle}}</b>{{App.translations.messages.ViralText}}</li>
					<li class="textli"><b>{{App.translations.messages.GlobalTitle}}</b>{{App.translations.messages.GlobalText}}</li>
					<li class="textli"><b>{{App.translations.messages.ResponsibleTitle}}</b>{{App.translations.messages.ResponsibleText}}</li>
				</ul>
			</div>
		</div>

		<div class="row-fluid">
			<div class="span8 offset2  classictext">
				{{App.translations.messages.DrawAmount}}
			</div>
		</div>

		<div class="row-fluid">
			<div class="span8 offset2  classictext">
				{{App.translations.messages.EachPlay}}
			</div>
		</div>

		<!-- ===================================================================================== -->

		<div id="catchMiddle">
			<div class="row-fluid">
				<div class="span8 offset2  subtitleText">
					{{App.translations.messages.Adillions}}
				</div>
			</div>
	
			<div class="row-fluid">
				<div class="span8 offset2  subtitleText">
					{{App.translations.messages.AdillionsCatch}}
				</div>
			</div>
		</div>
		
		<!-- ===================================================================================== -->
		
		
		<div class="row-fluid aboutIntro">
		 	<div id="aboutIntroText">{{App.translations.messages.VisionValues}} </div>
		</div>

		<div class="row-fluid">
			<div class="span8 offset2  subtitleText">
				{{App.translations.messages.Innovation}}
			</div>
		</div>
		
		<div class="row-fluid">
			<div class="span8 offset2  classictext">
				{{App.translations.messages.InnovDisrupt}}
			</div>
		</div>
		
		<div class="row-fluid">
			<div class="span8 offset2  classictext">
				{{App.translations.messages.InnovOriginal}}
			</div>
		</div>
		
		<div class="row-fluid">
			<div class="span8 offset2  classictext">
				{{App.translations.messages.InnovSimple}}
			</div>
		</div>



		<div class="row-fluid">
			<div class="span8 offset2  subtitleText">
				{{App.translations.messages.Responsibility}}
			</div>
		</div>
		
		<div class="row-fluid">
			<div class="span8 offset2  classictext">
				{{App.translations.messages.RespoBefore}}
			</div>
		</div>
		
		<div class="row-fluid">
			<div class="span8 offset2  classictext">
				{{App.translations.messages.RespoPublic}}
			</div>
		</div>
		
		<div class="row-fluid">
			<div class="span8 offset2  classictext">
				{{App.translations.messages.RespoProud}}
			</div>
		</div>
		
		<div class="row-fluid">
			<div class="span8 offset2  classictext">
				{{App.translations.messages.RespoPeport}}
			</div>
		</div>


		<div class="row-fluid">
			<div class="span8 offset2  subtitleText">
				{{App.translations.messages.Fairness}}
			</div>
		</div>
		
		<div class="row-fluid">
			<div class="span8 offset2  classictext">
				{{App.translations.messages.FairTransparent}}
			</div>
		</div>
		
		<div class="row-fluid">
			<div class="span8 offset2  classictext">
				{{App.translations.messages.FairRules}}
			</div>
		</div>
		
		<div class="row-fluid">
			<div class="span8 offset2  classictext">
				<ul>
					<li class="textli">{{App.translations.messages.FairRules1}}</li>
					<li class="textli">{{App.translations.messages.FairRules2}}</li>
					<li class="textli">{{App.translations.messages.FairRules3}}</li>
					<li class="textli">{{App.translations.messages.FairRules4}}</li>
					<li class="textli">{{App.translations.messages.FairRules5}}</li>
				</ul>
			</div>
		</div>




		<div class="row-fluid">
			<div class="span8 offset2  subtitleText">
				{{App.translations.messages.Conclusion}}
			</div>
		</div>
		
		<div class="row-fluid marginbottom6">
			<div class="span8 offset2  classictext">
				{{App.translations.messages.ConclTime}}
			</div>
		</div>
		
		<!-- ===================================================================================== -->
		
		
		<div class="row-fluid aboutIntro">
		 	<div id="aboutIntroText">{{App.translations.messages.Team}} </div>
		</div>
		
		<div class="row-fluid">
			<div class="span8 offset2  classictext marginbottom2">
				{{App.translations.messages.TeamIntro}}
			</div>
		</div>
		
		<div class="row-fluid">
			<div class="span2 offset2">
				<img class="polaroid rounded" src="/assets/images/website/tdc.jpg"/>
			</div>
			<div class="span6 subtitleText">
				<div class="row-fluid">
					{{App.translations.messages.CEOName}}
				</div>
				<div class="row-fluid">
					{{App.translations.messages.Cofounder}}
				</div>
				<div class="row-fluid">
					{{App.translations.messages.CEOStatus}}
				</div>
			</div>
		</div>
		
		<div class="row-fluid">
			<div class="span8 offset2  classictext marginbottom2">
				{{App.translations.messages.CEODesc}}
			</div>
		</div>
		
		<div class="row-fluid">
			<div class="span2 offset2">
				<img class="polaroid rounded" src="/assets/images/website/chris2.jpg"/>
			</div>
			<div class="span6 subtitleText">
				<div class="row-fluid">
					{{App.translations.messages.CTOName}}
				</div>
				<div class="row-fluid">
					{{App.translations.messages.Cofounder}}
				</div>
				<div class="row-fluid">
					{{App.translations.messages.CTOStatus}}
				</div>
			</div>
		</div>
		
		<div class="row-fluid">
			<div class="span8 offset2  classictext marginbottom4">
				{{App.translations.messages.CTODesc}}
			</div>
		</div>
		
	</div>
	
</div>

		
