
<div class="row-fluid gameView">


    <div id="accordion" class="span10 offset2 marginbottom8">
        <div class="subtitleText">{{App.translations.messages.Q1}}</div>
        <div><div class="classictext">{{App.translations.messages.A1}}</div></div>
        <div class="subtitleText">{{App.translations.messages.Q2}}</div>
        <div><div class="classictext">{{App.translations.messages.A2}}</div></div>
        <div class="subtitleText">{{App.translations.messages.Q3}}</div>
        <div><div class="classictext">{{App.translations.messages.A3}}</div></div>
        <div class="subtitleText">{{App.translations.messages.Q4}}</div>
        <div><div class="classictext">{{App.translations.messages.A4}}</div></div>
        <div class="subtitleText">{{App.translations.messages.Q5}}</div>
        <div><div class="classictext">{{App.translations.messages.A5}}</div></div>
        <div class="subtitleText">{{App.translations.messages.Q6}}</div>
        <div><div class="classictext">{{App.translations.messages.A6}}</div></div>
        <div class="subtitleText">{{App.translations.messages.Q7}}</div>
        <div><div class="classictext">{{App.translations.messages.A7}}</div></div>
        <div class="subtitleText">{{App.translations.messages.Q8}}</div>
        <div><div class="classictext">{{App.translations.messages.A8}}</div></div>
        <div class="subtitleText">{{App.translations.messages.Q9}}</div>
        <div><div class="classictext">{{App.translations.messages.A9}}</div></div>
        <div class="subtitleText">{{App.translations.messages.Q10}}</div>
        <div><div class="classictext">{{App.translations.messages.A10}}</div></div>
        <div class="subtitleText">{{App.translations.messages.Q11}}</div>
        <div><div class="classictext">{{App.translations.messages.A11}}</div></div>
        <div class="subtitleText">{{App.translations.messages.Q12}}</div>
        <div><div class="classictext">{{App.translations.messages.A12}}</div></div>
        <div class="subtitleText">{{App.translations.messages.Q13}}</div>
        <div>
            <div class="classictext">{{App.translations.messages.A13}}</div>
            <ul>
                <li class="textli">{{App.translations.messages.A13a}}</li>
                <li class="textli">{{App.translations.messages.A13b}}</li>
                <li class="textli">{{App.translations.messages.A13c}}</li>
                <li class="textli">{{App.translations.messages.A13d}}</li>
            </ul>
        </div>
    </div>


</div>


