
<div class="row-fluid gameView">
    <div class="span10 offset2 ">
        
        <div class="row-fluid">
            <div class="span11  subtitleText">
                {{App.translations.messages.Rules0-1}} <a href="/#/about/terms">{{App.translations.messages.Rules0-2}}</a> {{App.translations.messages.Rules0-3}}
            </div>
        </div>

        <div class="row-fluid">
            <div class="span10 offset1  classictext">
                {{App.translations.messages.Rules2}}
            </div>
        </div>

        <div class="row-fluid">
            <div class="span10 offset1  classictext">
                {{App.translations.messages.Rules3}}
            </div>
        </div>

        <div class="row-fluid">
            <div class="span10 offset1  classictext">
                {{App.translations.messages.Rules4}}
            </div>
        </div>

        <div class="row-fluid">
            <div class="span10 offset1  classictext">
                {{App.translations.messages.Rules5-1}} <a href="/#/about/rewards">{{App.translations.messages.Rules5-2}}</a> {{App.translations.messages.Rules5-3}}
            </div>
        </div>

        <div class="row-fluid">
            <div class="span10 offset1  classictext">
                {{App.translations.messages.Rules6}} 
            </div>
        </div>

        <div class="row-fluid">
            <div class="span10 offset1  classictext">
                {{App.translations.messages.Rules7}} 
            </div>
        </div>

        <div class="row-fluid">
            <div class="span10 offset1  classictext">
                {{App.translations.messages.Rules8-1}} <a href="/#/about/prizes">{{App.translations.messages.Rules8-2}}</a> {{App.translations.messages.Rules8-3}}
            </div>
        </div>

        <div class="row-fluid">
            <div class="span10 offset1  classictext">
                {{App.translations.messages.Rules9}}
            </div>
        </div>

        <div class="row-fluid">
            <div class="span10 offset1  classictext">
                {{App.translations.messages.Rules10}}
            </div>
        </div>

        <div class="row-fluid">
            <div class="span10 offset1  classictext">
                {{App.translations.messages.Rules11}}
            </div>
        </div>

        <div class="row-fluid">
            <div class="span10 offset1  classictext">
                {{App.translations.messages.Rules12}}
            </div>
        </div>

        <div class="row-fluid">
            <div class="span10 offset1  classictext">
                {{App.translations.messages.Rules13}}
            </div>
        </div>

        <div class="row-fluid">
            <div class="span10 offset1  classictext">
                {{App.translations.messages.Rules14}}
            </div>
        </div>
        
    </div>
    
</div>

        
