
<div class="row-fluid gameView">
    <div class="span10 offset2 ">
        
        <div class="row-fluid">
            <div class="span11  subtitleText">
                {{App.translations.messages.RulesIntro}} {{App.translations.messages.RulesTerms}} {{App.translations.messages.RulesDetails}}
            </div>
        </div>

        <div class="row-fluid">
            <div class="span10 offset1  classictext">
                {{App.translations.messages.RulesAge}}
            </div>
        </div>

        <div class="row-fluid">
            <div class="span10 offset1  classictext">
                {{App.translations.messages.RulesAccount}}
            </div>
        </div>

        <div class="row-fluid">
            <div class="span10 offset1  classictext">
                {{App.translations.messages.RulesPick}}
            </div>
        </div>

        <div class="row-fluid">
            <div class="span10 offset1  classictext">
                {{App.translations.messages.RulesTickets}} {{App.translations.messages.RulesRewards}} {{App.translations.messages.RulesTicketsEnd}}
            </div>
        </div>

        <div class="row-fluid">
            <div class="span10 offset1  classictext">
                {{App.translations.messages.RulesDraws}} 
            </div>
        </div>

        <div class="row-fluid">
            <div class="span10 offset1  classictext">
                {{App.translations.messages.RulesAmount}}  {{App.translations.messages.RulesPrize}} {{App.translations.messages.RulesAmountEnd}}
            </div>
        </div>
        
        <div class="row-fluid">
            <div class="span10 offset1  classictext">
                {{App.translations.messages.RulesCategory}} 
            </div>
        </div>

        <div class="row-fluid">
            <div class="span10 offset1  classictext">
                {{App.translations.messages.RulesNoPayment}} 
            </div>
        </div>
        <div class="row-fluid">
            <div class="span10 offset1  classictext">
                {{App.translations.messages.RulesTransfer}} 
            </div>
        </div>
        <div class="row-fluid">
            <div class="span10 offset1  classictext">
                {{App.translations.messages.RulesDelay}} 
            </div>
        </div>
        <div class="row-fluid">
            <div class="span10 offset1  classictext">
                {{App.translations.messages.RulesID}} 
            </div>
        </div>
        <div class="row-fluid marginbottom4">
            <div class="span10 offset1  classictext">
                {{App.translations.messages.RulesBank}} 
            </div>
        </div>
    </div>
    
</div>

        
