
<div class="row-fluid gameView">

        <!-- --------------------------------------------- -->
        
        {{#if App.Globals.isEn}}
            <div class="row-fluid margintbottom8">
                <div class="span8 offset2  classictext">
                    {{App.translations.messages.IntroPost}}
                </div>
            </div>
        {{else}}
        {{/if}}
    
        
        {{#if App.Globals.isEn}}
            <div class="row-fluid margintbottom8">
                <div class="span8 offset2  classictext">
                    {{App.translations.messages.IntroLanguage}}
                </div>
            </div>
        {{else}}
        {{/if}}
    
        
        <!-- --------------------------------------------- -->    
        <!-- Overview -->    

        <div class="row-fluid">
            <div class="span8 offset2  subtitleText">
                {{App.translations.messages.Overview}}
            </div>
        </div>
        
        <div class="row-fluid">
            <div class="span8 offset2  classictext">
                {{App.translations.messages.OverObjective}}
            </div>
        </div>
        
        <div class="row-fluid">
            <div class="span8 offset2  classictext">
                {{App.translations.messages.OverLegal}}
            </div>
        </div>
        
        {{#if App.Globals.isEn}}
        {{else}}
        <div class="row-fluid">
            <div class="span8 offset2  classictext">
                {{App.translations.messages.OverArticle}}
            </div>
        </div>
        {{/if}}

        
        {{#if App.Globals.isEn}}
        {{else}}
        <div class="row-fluid">
            <div class="span8 offset2  classictext">
                {{App.translations.messages.OverCNIL}}
            </div>
        </div>
        {{/if}}

        <div class="row-fluid">
            <div class="span8 offset2  classictext">
                {{App.translations.messages.OverModify}}
            </div>
        </div>
        
        <!-- --------------------------------------------- -->    
        <!-- Purpose -->    

        <div class="row-fluid margintop2 marginbottom4">
            <div class="span8 offset2  subtitleText">
                {{App.translations.messages.Purpose}}
            </div>
        </div>
        
        <div class="row-fluid">
            <div class="span8 offset2  classictext">
                {{App.translations.messages.PurpIntro}}
            </div>
        </div>

        <ul class="span6 offset3 alignLeft">
            <li class="classictext">{{App.translations.messages.Manage_P}}</li>
            <li class="classictext">{{App.translations.messages.Administer}}</li>
            <li class="classictext">{{App.translations.messages.TargetedAds}}</li>
            <li class="classictext">{{App.translations.messages.ProvideProducts}}</li>
            <li class="classictext">{{App.translations.messages.ConductInternal}}</li>
            <li class="classictext">{{App.translations.messages.IdentifyPotential}}</li>
            <li class="classictext">{{App.translations.messages.ContactUsers}}</li>
            <li class="classictext">{{App.translations.messages.CreateStudies}}</li>
        </ul>

        <div class="row-fluid">
            <div class="span8 offset2  classictext">
                {{App.translations.messages.AdillionsEnsures}}
            </div>
        </div>
        

        <div class="row-fluid">
            <div class="span8 offset2  classictext">
                {{App.translations.messages.UsersAgree}}
            </div>
        </div>
        

        <div class="row-fluid">
            <div class="span8 offset2  classictext">
                {{App.translations.messages.Subcontractors}}
            </div>
        </div>
        
        <!-- --------------------------------------------- -->    
        <!-- Permission -->    

        <div class="row-fluid margintop2 marginbottom4">
            <div class="span8 offset2  subtitleText">
                {{App.translations.messages.Permission}}
            </div>
        </div>
        
        <div class="row-fluid">
            <div class="span8 offset2  classictext">
                {{App.translations.messages.WinnerPermission}}
            </div>
        </div>

        <div class="row-fluid">
            <div class="span8 offset2  classictext">
                {{App.translations.messages.PhotoWinner}}
            </div>
        </div>
    
        
        <!-- --------------------------------------------- -->    
        <!-- Cookies -->    

        <div class="row-fluid margintop2 marginbottom4">
            <div class="span8 offset2  subtitleText">
                {{App.translations.messages.Cookies}}
            </div>
        </div>
        
        <div class="row-fluid">
            <div class="span8 offset2  classictext">
                {{App.translations.messages.LikePlatforms}}
            </div>
        </div>

        <div class="row-fluid">
            <div class="span8 offset2  classictext">
                {{App.translations.messages.UsersInformed}}
            </div>
        </div>

        <div class="row-fluid">
            <div class="span8 offset2  classictext">
                {{App.translations.messages.UsersConfigure}}
            </div>
        </div>
        
        <!-- --------------------------------------------- -->    

        <div class="row-fluid margintop6">
            <div class="span8 offset2  classictext">
                {{App.translations.messages.Questions_P}}
            </div>
        </div>

        <div class="row-fluid marginbottom4">
            <div class="span8 offset2 classictext">
                {{App.translations.messages.ReadAndAccept}}
            </div>
        </div>

        {{#if App.Globals.isEn}}
        {{else}}
            <div class="row-fluid marginbottom8">
                <div class="span8 offset2  classictext">
                    {{App.translations.messages.FaitAParis}}
                </div>
            </div>
        {{/if}}
    
</div>

        
