
<div class="row-fluid gameView">
	
	<div id="actions" class="free">
		<div id="randomButton" class="touchable">{{App.translations.messages.Random}}</div>
		<img id="actionSeparator" class="mobileIcon" src='@routes.Assets.at("images/icons/separateur.png")'></img>
		<div id="restartButton" class="touchable">{{App.translations.messages.Restart}}</div>
	</div>

	<div class="row-fluid">
		<div id="numbersToSelect"></div>
	</div>

	<div id="selection" class="row-fluid">
		<div id="selectionTools"></div>
		<div id="numbersSelected"></div>
	</div>
	
</div>

		
