
<div class="gameView">
	<div class="row-fluid">
	_Prochain tirage : {{lotteryPrice App.nextLottery}}
	</div>
	<div class="row-fluid">
	_date : {{formatDate App.nextLottery.date}}
	</div>
	<div class="row-fluid">
	_nbPlayers : {{App.nextLottery.nbPlayers}}
	</div>
	
	<br/>
	<br/>
	
	<div class="row-fluid">
		<div {{action openResults}} class="span4 offset4 btn-large button">{{App.translations.messages.Play}}</div>
	</div>
	
	<br/>
	<br/>

	<div class="row-fluid">
	theme : {{App.nextLottery.theme.title}}
	</div>
	<div class="row-fluid">
	desc : {{App.nextLottery.theme.description}}
	</div>
	<div class="row-fluid">
		{{themeImage App.nextLottery}}
	</div>
</div>

		
