
<div class="row-fluid gameView">
        
    <!----------------------  Picture ------------------------------>
        
    <div class="row-fluid marginbottom2">
        <div class="span6 offset3 lotteryTickets">
            <div class="row-fluid">
                <div class="span4" id="pictureImage">
                    {{image App.user.picture}}
                </div>
                <div class="span8 margintop alignRight">
                    {{App.user.userName}}
                </div>
            </div>
        </div>
    </div>
        
    <!----------------------  Status ------------------------------>
        
    <div class="row-fluid marginbottom2">
        <div class="span6 offset3 lotteryTickets">
            <div class="row-fluid">
                <div class="span10" id="statusImage">
                    {{langImage App.user.lang png='status.png' id='statusImage'}}
                </div>
            </div>

            <!----------------------  Line 1 ------------------------------>

            <div class="row-fluid marginbottom2">
            
                <!----------------------  Total Points ------------------------------>
                
                <div class="span3 offset1 alignLeft">
                    <div class="row-fluid marginbottom">
                        {{App.translations.messages.TotalPoints}} :
                    </div>
                    <div class="row-fluid">
                        {{App.user.totalPoints}} Pts
                    </div>
                </div>
                
                <!----------------------  BonusTickets ------------------------------>
                
                <div class="span3 offset4 alignRight">
                    <div class="row-fluid marginbottom">
                        {{App.translations.messages.BonusTickets}} :
                    </div>
                    <div class="row-fluid">
                        <div class="span8 offset1 priceTicket">
                        {{App.user.totalBonusTickets}}
                        </div>
                        <div class="span3">
                            <img class="mobileIcon" src='@routes.Assets.at("images/icons/PictoBonus.png")'></img>
                        </div>
                    </div>
                </div>
            </div>

            <!----------------------  Line 2 ------------------------------>

            <div class="row-fluid">
                
                <!----------------------  Charity ------------------------------>
                
                <div class="span6 offset3">
                    <div class="row-fluid marginbottom">
                        {{App.translations.messages.CharityProfile}} :
                    </div>
                    <div class="row-fluid">
                        {{charityLevel App.user.charity}}
                    </div>
                    <div class="row-fluid upper2">
                        <div class="span12 upper2">
                            {{charityName App.user.charity}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
        
        
    <!----------------------  Winnings ------------------------------>
        
    <div class="row-fluid marginbottom2">
        <div class="span6 offset3 lotteryTickets">
            <div class="row-fluid">
                <div class="span10" id="winningsImage">
                    {{langImage App.user.lang png='Gain.png'}}
                </div>
            </div>

            <!----------------------  Line 1 ------------------------------>

            <div class="row-fluid marginbottom2">
            
                <!----------------------  Total Points ------------------------------>
                
                <div class="span3 offset1 alignLeft">
                    <div class="row-fluid marginbottom">
                        {{App.translations.messages.TotalWinnings}} :
                    </div>
                    <div class="row-fluid">
                        <div class="span8 offset1 priceTicket">
                        {{price App.user.totalGains}}
                        </div>
                        <div class="span3 priceTicketIcon">
                            <img class="mobileIcon" src='@routes.Assets.at("images/icons/money.png")'></img>
                        </div>
                    </div>
                </div>
                
                <!----------------------  Total Gains ------------------------------>
                
                <div class="span3 offset4 alignRight">
                    <div class="row-fluid marginbottom">
                        {{App.translations.messages.Payed}} :
                    </div>
                    <div class="row-fluid">
                        <div class="span8 offset1 priceTicket">
                        {{price App.user.receivedWinnings}}
                        </div>
                        <div class="span3 priceTicketIcon">
                            <img class="mobileIcon" src='@routes.Assets.at("images/icons/PictogainPayed.png")'></img>
                        </div>
                    </div>
                </div>
            </div>

            <!----------------------  Line 2 ------------------------------>

            <div class="row-fluid">
                
                <!----------------------  Balance ------------------------------>
                
                <div class="span6 offset3">
                    <div class="row-fluid marginbottom">
                        {{App.translations.messages.Balance}} :
                    </div>
                    <div class="row-fluid">
                        <div class="span8 offset1 priceTicket">
                        {{#if App.user.waitForPaiement}}
                            ({{price App.user.pendingWinnings}})
                        {{/if}}
                        {{price App.user.balance}}
                        </div>
                        <div class="span3 priceTicketIcon">
                            <img class="mobileIcon" src='@routes.Assets.at("images/icons/PictoBalance.png")'></img>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="row-fluid">
                <div class="span8 offset2 margintop2 touchable">
                    <div {{action openCashout}}> {{langImage App.user.lang png='cashout.button.png'}} </div>
                </div>
            </div>
        </div>
    </div>
        
    <!----------------------  Personal details ------------------------------>
        
    <div class="row-fluid marginbottom2">
        <div class="span6 offset3 lotteryTickets">
            <div class="row-fluid">
                <div class="span10" id="detailsImage">
                    {{langImage App.user.lang png='details.png' id='detailsImage'}}
                </div>
            </div>
            <div class="row-fluid">
                <div class="span5 offset1 alignLeft">
                    {{App.translations.messages.Username}} :
                </div>
                <div class="span5 alignRight">
                    {{App.user.userName}}
                </div>
            </div>
            <div class="row-fluid">
                <div class="span5 offset1 alignLeft">
                    {{App.translations.messages.FirstName}} :
                </div>
                <div class="span5 alignRight">
                    {{App.user.firstName}}
                </div>
            </div>
            <div class="row-fluid">
                <div class="span5 offset1 alignLeft">
                    {{App.translations.messages.LastName}} :
                </div>
                <div class="span5 alignRight">
                    {{App.user.lastName}}
                </div>
            </div>
            <div class="row-fluid">
                <div class="span5 offset1 alignLeft">
                    {{App.translations.messages.Email}} :
                </div>
                <div class="span5 alignRight">
                    {{App.user.email}}
                </div>
            </div>
            <div class="row-fluid">
                <div class="span5 offset1 alignLeft">
                    {{App.translations.messages.Birthday}} :
                </div>
                <div class="span5 alignRight">
                    {{#with App.user}}
                        {{readableFullDate lang date=birthDate type='long'}}
                    {{/with}}
                </div>
            </div>
        </div>
    </div>
    
    <!----------------------  Social ------------------------------>
        
    <div class="row-fluid marginbottom2">
        <div class="span6 offset3 lotteryTickets">
            <div class="row-fluid">
                <div class="span10 huge" id="detailsImage">
                    {{langImage App.user.lang png='socials.png'}}
                </div>
            </div>

            <!----------------------  Facebook Connection ------------------------------>
            
            <div class="row-fluid">
                {{#if App.user.hasFacebookAccount}}
                <div class="span3">
                    <img class="mobileIcon" src='@routes.Assets.at("images/icons/facebook.connected.png")'></img>
                </div>
                <div class="span4 alignLeft small">
                    {{App.user.userName}}
                </div>
                {{else}}
                <div class="span4 offset4 touchable">
                    <div {{action facebookMerge}}> {{langImage App.user.lang png='popup.facebook.connect.png'}} </div>
                </div>
                {{/if}}
                
                <div class="span2 offset2 upper">
                    <img src='@routes.Assets.at("images/icons/Plus1Ticket.png")'></img>
                </div>
            </div>

            <!----------------------  Facebook Fan ------------------------------>

            <div class="row-fluid">
                {{#if App.user.isFacebookFan}}
                <div class="span2">
                    <div> {{langImage App.user.lang png='facebook.like.done.png'}} </div>
                </div>
                {{else}}
                <div class="span2">
                    <div> {{langImage App.user.lang png='facebook.like.enabled.png'}} </div>
                </div>
                {{/if}}
                
                <div class="span2 offset7">
                    <img src='@routes.Assets.at("images/icons/Plus2Tickets.png")'></img>
                </div>
            </div>

            <!----------------------  Twitter Connection ------------------------------>
            
            <div class="row-fluid">
                <div class="span3">
                    <img class="mobileIcon" src='@routes.Assets.at("images/icons/twitter.connected.png")'></img>
                </div>
                {{#if App.user.hasTwitterAccount}}
                <div class="span4 alignLeft small">
                    {{App.user.twitterName}}
                </div>
                {{else}}
                <div class="span4 alignLeft small">
                    -
                </div>
                {{/if}}
                
                <div class="span2 offset2 upper">
                    <img src='@routes.Assets.at("images/icons/Plus1Ticket.png")'></img>
                </div>
            </div>

            <!----------------------  Twitter Fan ------------------------------>

            <div class="row-fluid">
                {{#if App.user.isTwitterFan}}
                <div class="span2">
                    <div> {{langImage App.user.lang png='twitter.following.png'}} </div>
                </div>
                {{else}}
                <div class="span2">
                    <div> {{langImage App.user.lang png='twitter.follow.png'}} </div>
                </div>
                {{/if}}
                
                <div class="span2 offset7">
                    <img src='@routes.Assets.at("images/icons/Plus2Tickets.png")'></img>
                </div>
            </div>
        </div>
    </div>
    
    <!----------------------  Sponsor ------------------------------>
        
    <div class="row-fluid marginbottom2">
        <div class="span6 offset3 lotteryTickets">
            <div class="row-fluid marginBottom4">
                <div class="span10 huge" id="detailsImage">
                    {{langImage App.user.lang png='sponsor.png'}}
                </div>
            </div>
            <div class="row-fluid">
                <div class="huge">
                    {{App.user.sponsorCode}}
                </div>
            </div>
            <div class="row-fluid">
                <div class="span4 offset4 touchable">
                    <div {{action openInvite}}> {{langImage App.user.lang png='invite.button.png'}} </div>
                </div>
            </div>
        </div>
    </div>
</div>


