.content{
	margin-left:35px;
	margin-right:35px;
	margin-top:90px;
	margin-bottom: 100px;
	min-height:650px;
}

.mobilecloser{
	top:25px;
	width: 15px;
	right: 20px;
	cursor: pointer;
	position: fixed;
	z-index:1000;
}

#mbirthDate.error {
	background-color: #d00;
}

.ui-widget {
	font-size: 0.9em;
}

/* css for timepicker */
.ui-timepicker-div .ui-widget-header { margin-bottom: 8px; }
.ui-timepicker-div dl { text-align: left; }
.ui-timepicker-div dl dt { height: 25px; margin-bottom: -25px; }
.ui-timepicker-div dl dd { margin: 0 10px 10px 65px; }
.ui-timepicker-div td { font-size: 90%; }
.ui-tpicker-grid-label { background: none; border: none; margin: 0; padding: 0; }

.ui-timepicker-rtl{ direction: rtl; }
.ui-timepicker-rtl dl { text-align: right; }
.ui-timepicker-rtl dl dd { margin: 0 65px 10px 10px; }