/***** [ small ] *****/
@media screen and ( max-width : 768px) {

	/************************************************/
	.centered {
		float: none;
		margin: 0 auto;
	}

	/*--------------------------------*/
	#homeContent {
		padding: 0;
		z-index: 1;
	}

	/*--------------------------------*/
	.websiteContent {
		padding-top: 50px;
	}

	/*--------------------------------*/
	#themeWeb {
		top: 74px;
		position: absolute;
		right: -289px;
		left: 0px;
		width: 200px;
	}
	#themeText {
		position: absolute;
		right: -289px;
		left: 0px;
		width: 200px;
		top: 232px;
	}
}