/***** [ small ] *****/
@media screen and ( max-width : 910px) {

    /************************************************/
    .centered {
        float: none;
        margin: 0 auto;
    }

    /*--------------------------------*/
    #homeContent {
        padding: 0;
        z-index: 1;
    }
    /*--------------------------------*/

    #headerPrice  {
        color: #fff;
        font-size: 50px;
        text-align: right;
        margin-top: 90px;
    }
    
    /*--------------------------------*/
    .websiteContent {
        padding-top: 50px;
    }

    /*--------------------------------*/
    
    #themeWeb {
        margin-top: 40px;
        margin-left: -5px;
    }
    #themeText {
        margin-top: -81px;
        margin-left: -42px;
    }
    /*--------------------------------*/
    
    #partAdillionIsText {
        font-size: 27px;
    }
}