@import views.html.popups.loginWindow;
@import views.html.popups.signinWindow;
@import views.html.popups.signinFBWindow;

<div class="container-fluid" id="gameContent">

	<!-- ----------------------------------------------------------------------------- -->
	<!-- Content 																	   -->
	<!-- ----------------------------------------------------------------------------- -->

	<div class="marketing home-container">

		<!-- -------------------------------------------------------------- -->

		<div class="row-fluid">
		 <h1>Game</h1>
		</div>

		
	</div>

</div>

@signinWindow()
@signinFBWindow()
@loginWindow()