@import views.html.popups.loginWindow;
@import views.html.popups.signinWindow;
@import views.html.popups.signinFBWindow;

@import views.html.popups.noMoreTicketsWindow;
@import views.html.popups.pointsWindow;

@import views.html.templates.footer;

<div id="gameContent">

	<!-- ----------------------------------------------------------------------------- -->
	<!-- Content 																	   -->
	<!-- ----------------------------------------------------------------------------- -->

	<div class="marketing unselectable">

		<!-- -------------------------------------------------------------- -->
		
    	{{outlet}}

		<!-- -------------------------------------------------------------- -->
	
		<br/>
		<div class="row-fluid upper2">
			<div class="free">
				<div id="gameHomeButton" {{action openGameHome}} class="btn-large button"></div>
				<div id="myTicketsButton" {{action openMyTickets}} class="btn-large button"></div>
				<div id="resultsButton" {{action openResults}} class="btn-large button"></div>
				<div id="profileButton" {{action openProfile}} class="btn-large button"></div>
			</div>
		</div>
	</div>

<!--
il faut une image adaptee au web 
	<div class="row-fluid free">
		<img id="menuBG" src='@routes.Assets.at("images/game/menu.bg.png")'></img>	
	</div>
 -->
	</div>

	@footer()

</div>


@signinWindow()
@signinFBWindow()
@loginWindow()

@noMoreTicketsWindow()
@pointsWindow()