@import views.html.popups.loginWindow;
@import views.html.popups.signinWindow;
@import views.html.popups.signinFBWindow;

<div class="container-fluid" id="homeContent">

	<!-- ----------------------------------------------------------------------------- -->
	<!-- Content 																	   -->
	<!-- ----------------------------------------------------------------------------- -->

	<div class="marketing home-container">

		<!-- -------------------------------------------------------------- -->
		<br/>
		<br/>
		<br/>
		<br/>
		<br/>
		<br/>
		<br/>
		<br/>
		<br/>
		<br/>
		<br/>
		<br/>
		<br/>

		{{#if App.Globals.isProd}}

		<div class="row-fluid">
		 <h1>Coming Soon</h1>
		</div>

		{{else}}
		
		<div class="row-fluid">
		 <h1>Dev</h1>
		</div>
		
		{{/if}}
		
		<br/>
		<br/>
		<br/>
		<br/>
		<br/>
		<br/>
		<br/>
		<br/>
		<br/>
		<br/>
		<br/>
		<br/>
		<br/>
		<br/>
		<br/>
		<br/>

		<!-- -------------------------------------------------------------- -->

		
	</div>

</div>

@signinWindow()
@signinFBWindow()
@loginWindow()
