@()

<div id="footerClassic" class="row-fluid">
	<div class="span4">
	  	<p>Adillions  &copy; 2013  contact : {{App.Globals.maperialEmail}}</p>
	</div>
	<div class="span4">
	  	<iframe src="//www.facebook.com/plugins/like.php?href=https%3A%2F%2Fwww.facebook.com%2Fpages%2FAdillions%2F379432705492888&layout=button_count&action=like&send=false&appId=170148346520274" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:90px; height:25px;" allowTransparency="true"></iframe>
	</div>
  	
	
</div>

