@()

<div id="footerClassic" class="row-fluid">
	<!-- 
	<div class="span2 offset1">
		 <div class="link"><a href="mailto:{{email name='contact'}}">{{email name='contact'}}</a></div>
	</div>
	 -->
			
	<div class="span2 offset1">
	  	<iframe src="//www.facebook.com/plugins/like.php?href=https%3A%2F%2Fwww.facebook.com%2Fpages%2FAdillions%2F379432705492888&layout=button_count&action=like&send=false&appId=170148346520274" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:90px; height:25px;" allowTransparency="true"></iframe>
	</div>
	
	<div class="span4 offset1">
		<div class="SocialIconsWidget">
			<ul class="widget_socials_center">
				<li><a href="https://www.facebook.com/pages/Adillions/379432705492888" class="facebook" target="_blank"></a></li>
				<li><a href="https://twitter.com/adillions" class="twitter" target="_blank"></a></li>
				<li><a href="https://plus.google.com/112607508051344203881/posts" class="googleplus" target="_blank"></a></li>
				<li><a href="https://youtube.com" class="youtube" target="_blank"></a></li>
				<li><a href="http://blog.adillions.com/" class="rss" target="_blank"></a></li>
				<li><a href="http://www.linkedin.com/company/adillions" class="linkedin" target="_blank"></a></li>
				<li><a href="http://pinterest.com/adillions/" class="pinterest" target="_blank"></a></li>
				<li><a href="mailto:{{email name='contact'}}" class="mail"></a></li>
			</ul>
		</div>
	</div>
	<div class="span2">
	  	<p>Adillions  &copy; 2013</p>
	</div>
	
</div>

