@(defaultHeader:Boolean = true)

<div id="header" class="row-fluid">
	<div class="span4 offset1 pointerCursor" {{action openHome}}>
		<img id="logo" src="/assets/images/logo.png"/>
	</div>

	<!-- --------------------------- -->
	<!-- Language buttons -->
	
	<div id="langButtons">
		<div id="enButton" {{action translateEn}} class="langButton">{{App.translations.messages.en}}</div>
		<div id="frButton" {{action translateFr}} class="langButton">{{App.translations.messages.fr}}</div>
	</div>
	
	<ul id="headerButtons">
		{{#if user.loggedIn}}
			<li {{action openGame}} class="btn-large button">{{App.translations.messages.Play}}</li>
			<li {{action logout}} class="btn-large button">{{App.translations.messages.Logout}}</li>
			<div id="headerPoints" {{action openPoints}}> {{pointsImage App.user.currentPoints}} </div>
		{{else}}
			<li {{action openSignin}} class="btn-large button">{{App.translations.messages.SignIn}}</li>
			<li {{action openLogin}} class="btn-large button">{{App.translations.messages.LogIn}}</li>
		{{/if}}
	</ul>

	<!-- --------------------------- -->


</div>