@(defaultHeader:Boolean = true)

<div id="header" class="row-fluid">
	<div class="span4 offset1 pointerCursor" {{action openHome}}>
		<img id="logo" src="/assets/images/logo.png"/>
	</div>

	<!-- --------------------------- -->
	<!-- Play button -->
	
	<div class="span4 offset2">
		<div class="row-fluid">
			{{#if user.loggedIn}}
				<div class="span8">
					<div {{action openGame}} class="touchable">{{langImage App.user.lang png='on1.png' customclass='fixedAsset'}}</div>
				</div>
				<div class="span3">
					<div {{action openPoints}}> {{pointsImage App.user.currentPoints}} </div>
				</div>
			{{else}}
				<div class="span8">
					<div {{action openLogin}} class="touchable">{{langImage App.user.lang png='off1.png' customclass='fixedAsset'}}</div>
				</div>
			{{/if}}
		</div>
	</div>
	
	<!-- --------------------------- -->
	<!-- Language buttons -->
	
	<div class="span1 margintop">
		<div id="enButton" {{action translateEn}} class="langButton">{{App.translations.messages.en}}</div>
		<div id="frButton" {{action translateFr}} class="langButton">{{App.translations.messages.fr}}</div>
	</div>
	

	<!-- --------------------------- -->


</div>