@()

	<!-- -------------------------------------------------------------- -->
	<!-- Footer -->

	<div id="footerHome" class="snapper">
		<div class="row-fluid">
			<div class="span2 offset3 footerContent">
				<div class="footerTitle">{{App.translations.messages.AboutUs}}</div>
				<div class="link">{{App.translations.messages.Team}}</div>
				<div class="link">{{App.translations.messages.Blog}}</div>
			</div>
			<div class="span2 footerContent">
				<div class="SocialIconsWidget">
					<ul class="widget_socials">
						<li><a href="http://blog.adillions.com/" class="rss" target="_blank"></a></li>
						<li><a href="https://twitter.com/adillions" class="twitter" target="_blank"></a></li>
						<li><a href="https://plus.google.com/112607508051344203881/posts" class="googleplus" target="_blank"></a></li>
						<li><a href="mailto:{{email name='contact'}}" class="mail" target="_blank"></a></li>
						<li><a href="http://www.linkedin.com/company/adillions" class="linkedin" target="_blank"></a></li>
						<li><a href="http://www.slideshare.net/Adillions/" class="slideshare" target="_blank"></a></li>
						<li><a href="http://pinterest.com/adillions/" class="pinterest" target="_blank"></a></li>
					</ul>
				</div>
			</div>
			<div class="span2 footerContent">
				<div class="link">&copy; 2013 Adillions</div>
				<br/>
				<div class="link"> {{email name='contact'}} TODO</div>
			</div>
		</div>
	</div>
