<!-- ------------------------------------------------------------------- -->

@import views.html.templates.header;
@import views.html.templates.pageTemplate;
@import views.html.templates.componentTemplate;

<!-- Pages -->

@import views.html.templates.pages.home;
@import views.html.templates.pages.game;

<!-- Components -->

@import views.html.templates.pages.gameViews.gameHome;
@import views.html.templates.pages.gameViews.myTickets;
@import views.html.templates.pages.gameViews.results;
@import views.html.templates.pages.gameViews.profile;

@import views.html.templates.pages.gameViews.fillLotteryTicket;
@import views.html.templates.pages.gameViews.selectAdditionalNumber;
@import views.html.templates.pages.gameViews.confirmation;

<!-- ------------------------------------------------------------------- -->

<script type="text/x-handlebars" data-template-name="application">
	{{outlet}}
</script>

<!-- ------------------------------------------------------------------- -->

<!-- --- Pages --- -->
@pageTemplate("home", true)						{ @home()	}
@pageTemplate("game", false)					{ @game()	}

<!-- ------------------------------------------------------------------- -->
<!-- --- Components --- -->

@componentTemplate("gameHome")					{ @gameHome()				}
@componentTemplate("myTickets")					{ @myTickets()				}
@componentTemplate("results")					{ @results()				}
@componentTemplate("profile")					{ @profile()				}

@componentTemplate("fillLotteryTicket")			{ @fillLotteryTicket()		}
@componentTemplate("selectAdditionalNumber")	{ @selectAdditionalNumber()	}
@componentTemplate("confirmation")				{ @confirmation()			}