<!-- ------------------------------------------------------------------- -->

@import views.html.templates.header;
@import views.html.templates.pageTemplate;
@import views.html.templates.componentTemplate;

<!-- Pages -->

@import views.html.templates.pages.home;
@import views.html.templates.pages.game;
@import views.html.templates.pages.results;
@import views.html.templates.pages.about;

<!-- Components -->

@import views.html.templates.components.homeLottery;

@import views.html.templates.pages.gameViews.gameHome;
@import views.html.templates.pages.gameViews.myTickets;
@import views.html.templates.pages.gameViews.profile;

@import views.html.templates.pages.gameViews.fillLotteryTicket;
@import views.html.templates.pages.gameViews.selectAdditionalNumber;
@import views.html.templates.pages.gameViews.confirmation;

@import views.html.templates.pages.aboutViews.aboutHome;
@import views.html.templates.pages.aboutViews.faq;
@import views.html.templates.pages.aboutViews.terms;
@import views.html.templates.pages.aboutViews.rewards;
@import views.html.templates.pages.aboutViews.jobs;
@import views.html.templates.pages.aboutViews.press;
@import views.html.templates.pages.aboutViews.privacy;

<!-- ------------------------------------------------------------------- -->

<script type="text/x-handlebars" data-template-name="application">
	{{outlet}}
</script>

<!-- ------------------------------------------------------------------- -->

<!-- --- Pages --- -->
@pageTemplate("home", true)						{ @home()		}
@pageTemplate("game", false)					{ @game()		}
@pageTemplate("results", true)					{ @results()	}
@pageTemplate("about", true)					{ @about()		}

<!-- ------------------------------------------------------------------- -->
<!-- --- Components --- -->

@componentTemplate("homeLottery")				{ @homeLottery()			}

@componentTemplate("gameHome")					{ @gameHome()				}
@componentTemplate("myTickets")					{ @myTickets()				}
@componentTemplate("profile")					{ @profile()				}

@componentTemplate("fillLotteryTicket")			{ @fillLotteryTicket()		}
@componentTemplate("selectAdditionalNumber")	{ @selectAdditionalNumber()	}
@componentTemplate("confirmation")				{ @confirmation()			}

@componentTemplate("aboutHome")					{ @aboutHome()				}
@componentTemplate("faq")						{ @faq()					}
@componentTemplate("terms")						{ @terms()					}
@componentTemplate("rewards")					{ @rewards()				}
@componentTemplate("jobs")						{ @jobs()					}
@componentTemplate("press")						{ @press()					}
@componentTemplate("privacy")					{ @privacy()				}
	


