<!-- ------------------------------------------------------------------- -->

@import views.html.templates.header;
@import views.html.templates.pageTemplate;
@import views.html.templates.componentTemplate;

<!-- Pages -->

@import views.html.templates.pages.home;
@import views.html.templates.pages.game;

<!-- Components -->


<!-- ------------------------------------------------------------------- -->

<script type="text/x-handlebars" data-template-name="application">
	{{outlet}}
</script>

<!-- ------------------------------------------------------------------- -->

<!-- --- Pages --- -->
@pageTemplate("home", true){@home()}
@pageTemplate("game", true){@game()}

<!-- --- Components --- -->

<!-- ------------------------------------------------------------------- -->