<div class="row-fluid">
	<div class="span8 offset2">
		<div id="headerNextDrawing"> {{App.translations.messages.NextDrawing}}	</div>
	</div>	
</div>
<div class="row-fluid">
	<div class="span8 offset2">
		{{#with App.nextDrawing}}
			<div id="headerDate">	 {{readableFullDate App.user.lang date=date  type='full'}}	</div>
		{{/with}}
	</div>	
</div>
<div class="row-fluid">
	<div class="span3 offset2">
		<div id="headerPrice">		 {{price App.nextDrawing.price}}			</div>
	</div>	
	<div class="span1">
		<div id="cagnotteIconHome">
			<img src='@routes.Assets.at("images/icons/cagnotte.png")'></img>
		</div>
	</div>	
	<div class="span3 offset2">
		<div>
			{{themeWeb App.nextDrawing.theme}}
		</div>
	</div>	
</div>
<div class="row-fluid">
	<div class="span4 offset4">
		<div {{action openResults}}>{{langImage App.user.lang png='button.seeresults.png' id='seeResultsHome'}}</div>
	</div>
	<div class="span4">
		{{langImage App.user.lang png='theme.text.png' id='themeText'}}
	</div>
</div>