
<div id="menu">
    <div class="span2">
        <div class="row-fluid">
            <div class="span10">
                <div {{action openAboutHome}} id="aboutHomeTab" class="touchable aboutTab">{{App.translations.messages.About}}</div>
            </div>
        </div>
        <div class="row-fluid">
            <div class="span10">
                <div {{action openKeyRules}} id="keyrulesTab" class="touchable aboutTab">{{App.translations.messages.KeyRules}}</div>
            </div>
        </div>
        <div class="row-fluid">
            <div class="span10">
                <div {{action openPrizes}} id="prizesTab" class="touchable aboutTab">{{App.translations.messages.Prizes}}</div>
            </div>
        </div>
        <div class="row-fluid">
            <div class="span10">
                <div {{action openRewards}} id="rewardsTab" class="touchable aboutTab">{{App.translations.messages.Reward}}</div>
            </div>
        </div>
        <div class="row-fluid">
            <div class="span10">
                <div {{action openFaq}} id="faqTab" class="touchable aboutTab">{{App.translations.messages.FAQ}}</div>
            </div>
        </div>
        <div class="row-fluid">
            <div class="span10">
                <div {{action openTerms}} id="termsTab" class="touchable aboutTab">{{App.translations.messages.Terms}}</div>
            </div>
        </div>
        <div class="row-fluid">
            <div class="span10">
                <div {{action openJobs}} id="jobsTab" class="touchable aboutTab">{{App.translations.messages.Jobs}}</div>
            </div>
        </div>
        <div class="row-fluid">
            <div class="span10">
                <div {{action openPress}} id="pressTab" class="touchable aboutTab">{{App.translations.messages.Press}}</div>
            </div>
        </div>
        <div class="row-fluid">
            <div class="span10">
                <div {{action openPrivacy}} id="privacyTab" class="touchable aboutTab">{{App.translations.messages.Privacy}}</div>
            </div>
        </div>
    </div>
</div>