
<div id="menu">
	<div class="span2">
		<div class="row-fluid">
			<div class="span10">
				<div id="gameHomeButton" {{action openGameHome}} class="btn-large button"></div>
			</div>
		</div>
		<div class="row-fluid">
			<div class="span10">
				<div id="myTicketsButton" {{action openMyTickets}} class="btn-large button"></div>
			</div>
		</div>
		<div class="row-fluid">
			<div class="span10">
				<div id="resultsButton" {{action openResults}} class="btn-large button"></div>
			</div>
		</div>
		<div class="row-fluid">
			<div class="span10">
				<div id="profileButton" {{action openProfile}} class="btn-large button"></div>
			</div>
		</div>
	</div>
</div>