
@import views.html.templates.components.tagterms;

    <!-- --------------------------------------------- -->    
    <!-- Intro -->    

    <div class="row-fluid">
        <div class="classictext" id="TermsIntro1">
            {{App.translations.messages.TermsIntro1}}
        </div>
    </div>
    
    <div class="row-fluid">
        <div class="classictext" id="TermsIntro2">
            {{App.translations.messages.TermsIntro2}}
        </div>
    </div>
    
    <div class="row-fluid">
        <div class="classictext" id="TermsIntro3">
            {{App.translations.messages.TermsIntro3}}
        </div>
    </div>

    <!-- --------------------------------------------- -->    

    @tagterms("_1",        "I")
    @tagterms("_1-1",    "III")
    @tagterms("_1-2",    "III")
    @tagterms("_1-3",    "III")
    
    <!-- --------------------------------------------- -->    

    @tagterms("_2",        "I")
    @tagterms("_2-1",    "III")
    @tagterms("_2-2",    "III")
    @tagterms("_2-3",    "III")
    
    <!-- --------------------------------------------- -->    

    @tagterms("_3",        "I")
    @tagterms("_3-1",    "III")
    @tagterms("_3-2",    "III")
    @tagterms("_3-3",    "III")

    <!-- --------------------------------------------- -->
        
    @tagterms("_4",        "I")
    @tagterms("_4-1",    "II")
    @tagterms("_4-1-1",    "III")
    @tagterms("_4-1-2",    "III")
    @tagterms("_4-1-3",    "III")
    @tagterms("_4-1-4",    "III")
    @tagterms("_4-1-5",    "III")
    @tagterms("_4-2",    "II")
    @tagterms("_4-2-1",    "III")
    @tagterms("_4-2-2",    "III")
    @tagterms("_4-2-3",    "III")
    @tagterms("_4-2-4",    "III")
    @tagterms("_4-2-5",    "III")
    @tagterms("_4-2-6",    "III")
    @tagterms("_4-2-7",    "III")
    @tagterms("_4-3",    "II")
    @tagterms("_4-3-1",    "III")
    @tagterms("_4-3-2",    "III")
    @tagterms("_4-3-3",    "III")
    @tagterms("_4-3-4",    "III")
    @tagterms("_4-3-5",    "III")
    @tagterms("_4-3-6",    "III")
    @tagterms("_4-3-7",    "III")
    @tagterms("_4-3-8",    "III")
    @tagterms("_4-3-9",    "III")
    @tagterms("_4-3-10","III")
    @tagterms("_4-3-11","III")

    <!-- --------------------------------------------- -->
    
    @tagterms("_5",        "I")
    @tagterms("_5-1",    "III")
    @tagterms("_5-2",    "III")
    @tagterms("_5-3",    "III")
    @tagterms("_5-4",    "III")
    @tagterms("_5-5",    "III")
    
    <!-- --------------------------------------------- -->    
        
    @tagterms("_6",        "I")
    @tagterms("_6-1",    "II")
    @tagterms("_6-1-1",    "III")
    @tagterms("_6-1-2",    "III")
    @tagterms("_6-1-3",    "III")
    @tagterms("_6-2",    "II")
    @tagterms("_6-2-1",    "III")
    @tagterms("_6-2-2",    "III")
    @tagterms("_6-2-3",    "III")
    @tagterms("_6-2-4",    "III")
    @tagterms("_6-2-5",    "III")
    @tagterms("_6-2-6",    "III")
    
    <!-- --------------------------------------------- -->    

    @tagterms("_7",        "I")
    @tagterms("_7-1",    "II")
    @tagterms("_7-1-1",    "III")
    @tagterms("_7-1-2",    "III")
    @tagterms("_7-1-3",    "III")
    @tagterms("_7-2",    "II")
    @tagterms("_7-2-1",    "III")
    @tagterms("_7-2-2",    "III")
    @tagterms("_7-2-3",    "III")

    <!-- --------------------------------------------- -->    

    @tagterms("_8",        "I")
    @tagterms("_8-1",    "II")
    @tagterms("_8-1-1",    "III")
    @tagterms("_8-1-2",    "III")
    @tagterms("_8-1-3",    "III")
    @tagterms("_8-2",    "II")
    @tagterms("_8-2-1",    "III")
    @tagterms("_8-2-2",    "III")
    @tagterms("_8-2-3",    "III")
    
    <!-- --------------------------------------------- -->    

    @tagterms("_9",        "I")
    @tagterms("_9-1",    "II")
    @tagterms("_9-1-1",    "III")
    @tagterms("_9-1-2",    "III")
    @tagterms("_9-1-3",    "III")
    @tagterms("_9-2",    "II")
    @tagterms("_9-2-1",    "III")
    @tagterms("_9-2-2",    "III")
    @tagterms("_9-2-3",    "III")
    @tagterms("_9-2-4",    "III")
    @tagterms("_9-3",    "II")
    @tagterms("_9-3-1",    "III")
    @tagterms("_9-3-2",    "III")
    @tagterms("_9-3-3",    "III")
    @tagterms("_9-4",    "II")
    @tagterms("_9-4-1",    "III")
    @tagterms("_9-5",    "II")
    @tagterms("_9-5-1",    "III")
    @tagterms("_9-6",    "II")
    @tagterms("_9-6-1",    "III")
    
    <!-- --------------------------------------------- -->    

    @tagterms("_10",    "I")
    @tagterms("_10-1",    "III")
    
    <!-- --------------------------------------------- -->    

    @tagterms("_11",    "I")
    @tagterms("_11-1",    "II")
    @tagterms("_11-1-1","III")
    @tagterms("_11-1-2","III")
    @tagterms("_11-1-3","III")
    @tagterms("_11-2",    "II")
    @tagterms("_11-2-1","III")
    @tagterms("_11-2-2","III")
    @tagterms("_11-2-3","III")
    @tagterms("_11-2-4","III")
    @tagterms("_11-2-5","III")
    @tagterms("_11-2-6","III")
    @tagterms("_11-2-7","III")
    @tagterms("_11-2-8","III")
    @tagterms("_11-3",    "II")
    @tagterms("_11-3-1","III")
    @tagterms("_11-3-2","III")
    @tagterms("_11-3-3","III")
    
    <!-- --------------------------------------------- -->    

    @tagterms("_12",    "I")
    @tagterms("_12-1",    "II")
    @tagterms("_12-1-1","III")
    @tagterms("_12-1-2","III")
    @tagterms("_12-1-3","III")
    @tagterms("_12-1-4","III")
    @tagterms("_12-1-5","III")
    @tagterms("_12-2",    "II")
    @tagterms("_12-2-1","III")
    @tagterms("_12-3",    "II")
    @tagterms("_12-3-1","III")
    @tagterms("_12-3-2","III")
    @tagterms("_12-3-3","III")
    
    <!-- --------------------------------------------- -->
    
    @tagterms("_13",    "I")
    @tagterms("_13-1",    "II")
    @tagterms("_13-1-1","III")
    @tagterms("_13-1-2","III")
    @tagterms("_13-1-3","III")
    @tagterms("_13-1-4","III")
    @tagterms("_13-1-5","III")
    @tagterms("_13-1-6","III")
    @tagterms("_13-1-7","III")
    @tagterms("_13-1-8","III")
    @tagterms("_13-1-9","III")
    @tagterms("_13-2",    "II")
    @tagterms("_13-2-1","III")
    @tagterms("_13-2-2","III")
    @tagterms("_13-2-3","III")
    @tagterms("_13-3",    "II")
    @tagterms("_13-3-1","III")
    @tagterms("_13-3-2","III")
    
    <!-- --------------------------------------------- -->
    
    @tagterms("_14",    "I")
    @tagterms("_14-1",    "III")
    @tagterms("_14-2",    "III")
    @tagterms("_14-3",    "III")
    @tagterms("_14-4",    "III")
    @tagterms("_14-5",    "III")
    @tagterms("_14-6",    "III")
    @tagterms("_14-7",    "III")

    <!-- --------------------------------------------- -->
    
    @tagterms("_15",    "I")
    @tagterms("_15-1",    "III")

    <!-- --------------------------------------------- -->
    
    @tagterms("_16",    "I")
    @tagterms("_16-1",    "III")

    <!-- --------------------------------------------- -->
    
    @tagterms("_17",    "I")
    @tagterms("_17-1",    "III")

    <!-- --------------------------------------------- -->
    
    @tagterms("_18",    "I")
    @tagterms("_18-1",    "III")

    <!-- --------------------------------------------- -->
    
    @tagterms("_19",    "I")
    @tagterms("_19-1",    "III")
    @tagterms("_19-2",    "III")
    @tagterms("_19-3",    "III")

    <!-- --------------------------------------------- -->
    