<!DOCTYPE html>

<html>
<head>
<meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0" />
<title>Adillions - Login</title>
<link rel="shortcut icon" type="image/png" href='@routes.Assets.at("images/favicon.png")'>
<link rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css" />
<link rel="stylesheet" media="screen" href='@routes.Assets.at("css/bootstrap.min.css")' />
<link rel="stylesheet" media="screen" href='@routes.Assets.at("css/header.css")' />
<link rel="stylesheet" media="screen" href='@routes.Assets.at("css/mobile.css")' />
<link rel="stylesheet" media="screen" href='@routes.Assets.at("css/a/huge/footer.css")' />
<link rel="stylesheet" media="screen" href='@routes.Assets.at("css/a/huge/global.css")' />
<link rel="stylesheet" media="screen" href='@routes.Assets.at("css/a/huge/home.css")' />
<link rel="stylesheet" media="screen" href='@routes.Assets.at("css/b/big/footer.css")' />
<link rel="stylesheet" media="screen" href='@routes.Assets.at("css/b/big/global.css")' />
<link rel="stylesheet" media="screen" href='@routes.Assets.at("css/b/big/home.css")' />
<link rel="stylesheet" media="screen" href='@routes.Assets.at("css/c/medium/footer.css")' />
<link rel="stylesheet" media="screen" href='@routes.Assets.at("css/c/medium/global.css")' />
<link rel="stylesheet" media="screen" href='@routes.Assets.at("css/c/medium/home.css")' />
<link rel="stylesheet" media="screen" href='@routes.Assets.at("css/d/small/footer.css")' />
<link rel="stylesheet" media="screen" href='@routes.Assets.at("css/d/small/global.css")' />
<link rel="stylesheet" media="screen" href='@routes.Assets.at("css/d/small/home.css")' />
<link rel="stylesheet" media="screen" href='@routes.Assets.at("css/e/tiniest/footer.css")' />
<link rel="stylesheet" media="screen" href='@routes.Assets.at("css/e/tiniest/global.css")' />
<link rel="stylesheet" media="screen" href='@routes.Assets.at("css/e/tiniest/home.css")' />
</head>


<body>
    <div class="content">
        <div class="row-fluid">
        <div id="accordion" class="span12 marginbottom8">
            
            <div class="subtitleText" id="Q1"></div>
            <div><div class="classictext" id="A1"></div></div>
            <div class="subtitleText" id="Q2"></div>
            <div><div class="classictext" id="A1"></div></div>
            <div class="subtitleText" id="Q3"></div>
            <div><div class="classictext" id="A3"></div></div>
            <div class="subtitleText" id="Q4"></div>
            <div><div class="classictext" id="A4"></div></div>
            <div class="subtitleText" id="Q5"></div>
            <div><div class="classictext" id="A5"></div></div>
            <div class="subtitleText" id="Q6"></div>
            <div><div class="classictext" id="A6"></div></div>
            <div class="subtitleText" id="Q7"></div>
            <div><div class="classictext" id="A7"></div></div>
            <div class="subtitleText" id="Q8"></div>
            <div><div class="classictext" id="A8"></div></div>
            <div class="subtitleText" id="Q9"></div>
            <div><div class="classictext" id="A9"></div></div>
            <div class="subtitleText" id="Q10"></div>
            <div><div class="classictext" id="A10"></div></div>
            <div class="subtitleText" id="Q11"></div>
            <div><div class="classictext" id="A11"></div></div>
            <div class="subtitleText" id="Q12"></div>
            <div><div class="classictext" id="A12"></div></div>
            <div class="subtitleText" id="Q13"></div>
            <div>
                <div class="classictext" id="A13"></div>
                <ul>
                    <li class="textli" id="A13a"></li>
                    <li class="textli" id="A13b"></li>
                    <li class="textli" id="A13c"></li>
                    <li class="textli" id="A13d"></li>
                    <li class="textli" id="A13e"></li>
                </ul>
            </div>
        </div>
        </div>


    </div>

</body>


<!-- Libs -->
<script src="http://code.jquery.com/jquery-1.9.1.js"></script>
<script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
<script type="text/javascript" src='@routes.Assets.at("js/libs/jquery.ui.touch-punch.min.js")'></script>

<script src='@routes.Assets.at("js/libs/jquery.cookie.js")' type="text/javascript"></script>
<script src='@routes.Assets.at("js/webapp/app-common.js")' type="text/javascript"></script>

<script type="text/javascript">
    
    $(function() {
        $("#accordion").accordion({
            collapsible : true,
            active : false,
            heightStyle : "content"
        });

        //-----------------------------------// 
        // setup 

        window.translator = new Translator(true);
        window.translator.setLang('en', true);

        //-----------------------------------// 
    
        for(var i=1; i<14; i++)
            $("#Q"+i).text(Translator.messages["Q"+i]);

        for(var i=1; i<14; i++)
            $("#A"+i).text(Translator.messages["A"+i]);

        $("#A13a").text(Translator.messages["A13a"]);
        $("#A13b").text(Translator.messages["A13b"]);
        $("#A13c").text(Translator.messages["A13c"]);
        $("#A13d").text(Translator.messages["A13d"]);
        $("#A13e").text(Translator.messages["A13e"]);

    });
</script>
</html>
