<!DOCTYPE html>

<html>
<head>
<meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0" />
<title>Adillions - Login</title>
<link rel="shortcut icon" type="image/png" href='@routes.Assets.at("images/favicon.png")'>
<link rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css" />
<link rel="stylesheet" media="screen" href='@routes.Assets.at("css/bootstrap.min.css")' />
<link rel="stylesheet" media="screen" href='@routes.Assets.at("css/header.css")' />
<link rel="stylesheet" media="screen" href='@routes.Assets.at("css/mobile.css")' />
<link rel="stylesheet" media="screen" href='@routes.Assets.at("css/a/huge/footer.css")' />
<link rel="stylesheet" media="screen" href='@routes.Assets.at("css/a/huge/global.css")' />
<link rel="stylesheet" media="screen" href='@routes.Assets.at("css/a/huge/home.css")' />
<link rel="stylesheet" media="screen" href='@routes.Assets.at("css/b/big/footer.css")' />
<link rel="stylesheet" media="screen" href='@routes.Assets.at("css/b/big/global.css")' />
<link rel="stylesheet" media="screen" href='@routes.Assets.at("css/b/big/home.css")' />
<link rel="stylesheet" media="screen" href='@routes.Assets.at("css/c/medium/footer.css")' />
<link rel="stylesheet" media="screen" href='@routes.Assets.at("css/c/medium/global.css")' />
<link rel="stylesheet" media="screen" href='@routes.Assets.at("css/c/medium/home.css")' />
<link rel="stylesheet" media="screen" href='@routes.Assets.at("css/d/small/footer.css")' />
<link rel="stylesheet" media="screen" href='@routes.Assets.at("css/d/small/global.css")' />
<link rel="stylesheet" media="screen" href='@routes.Assets.at("css/d/small/home.css")' />
<link rel="stylesheet" media="screen" href='@routes.Assets.at("css/e/tiniest/footer.css")' />
<link rel="stylesheet" media="screen" href='@routes.Assets.at("css/e/tiniest/global.css")' />
<link rel="stylesheet" media="screen" href='@routes.Assets.at("css/e/tiniest/home.css")' />
</head>


<body>
    <div class="content">
        <div class="row-fluid">
            

        </div>
    </div>

</body>


<!-- Libs -->
<script src="http://code.jquery.com/jquery-1.9.1.js"></script>
<script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
<script src='@routes.Assets.at("js/webapp/tools/translator.js")' type="text/javascript"></script>

<script type="text/javascript">
    
    $(function() {
        //-----------------------------------// 
        // setup 

        window.translator = new Translator(true);

        //-----------------------------------// 

        $("#A13a").text(Translator.messages["A13a"]);
        $("#A13b").text(Translator.messages["A13b"]);
        $("#A13c").text(Translator.messages["A13c"]);
        $("#A13d").text(Translator.messages["A13d"]);
        $("#A13e").text(Translator.messages["A13e"]);

    });
</script>
</html>
