<!DOCTYPE html>

<html>
<head>
<meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0" />
</head>

<body>
</body>

<script src="http://code.jquery.com/jquery-1.9.1.js"></script>
<script src='@routes.Assets.at("js/webapp/tools/translator.js")' type="text/javascript"></script>

<script type="text/javascript">
    
    $(function() {
        
        //-----------------------------------// 
        // setup 

        window.translator = new Translator(true);

        //-----------------------------------// 
        
        if(translator.lang == "fr")
            window.location.href = '/mprivacyFR';
        else
            window.location.href = '/mprivacyEN'

    });
</script>
</html>
