<!DOCTYPE html>

<html>
<head>
<meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0" />
<title>Adillions - Sign in</title>
<link rel="shortcut icon" type="image/png" href='@routes.Assets.at("images/favicon.png")'>
<link rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css" />
<link rel="stylesheet" media="screen" href='@routes.Assets.at("css/bootstrap.min.css")' />
<link rel="stylesheet" media="screen" href='@routes.Assets.at("css/header.css")' />
<link rel="stylesheet" media="screen" href='@routes.Assets.at("css/mobile.css")' />
<link rel="stylesheet" media="screen" href='@routes.Assets.at("css/game.css")' />
<link rel="stylesheet" media="screen" href='@routes.Assets.at("css/a/huge/footer.css")' />
<link rel="stylesheet" media="screen" href='@routes.Assets.at("css/a/huge/global.css")' />
<link rel="stylesheet" media="screen" href='@routes.Assets.at("css/a/huge/home.css")' />
<link rel="stylesheet" media="screen" href='@routes.Assets.at("css/b/big/footer.css")' />
<link rel="stylesheet" media="screen" href='@routes.Assets.at("css/b/big/global.css")' />
<link rel="stylesheet" media="screen" href='@routes.Assets.at("css/b/big/home.css")' />
<link rel="stylesheet" media="screen" href='@routes.Assets.at("css/c/medium/footer.css")' />
<link rel="stylesheet" media="screen" href='@routes.Assets.at("css/c/medium/global.css")' />
<link rel="stylesheet" media="screen" href='@routes.Assets.at("css/c/medium/home.css")' />
<link rel="stylesheet" media="screen" href='@routes.Assets.at("css/d/small/footer.css")' />
<link rel="stylesheet" media="screen" href='@routes.Assets.at("css/d/small/global.css")' />
<link rel="stylesheet" media="screen" href='@routes.Assets.at("css/d/small/home.css")' />
</head>

@import views.html.mobile.header;

<body>
	@header()
	
	<div class="content">
		<img id="closeButton" onclick="window.location.href='/backToMobile'" src='@routes.Assets.at("images/ko.png")' class="mobilecloser"></img>
		
		<div class="row-fluid upper4 marginbottom2">
			<div id="facebookButton" class="btn-large button-facebook">Connect with Facebook</div>
		</div>
		<div class="row-fluid marginbottom4">
			<p class="auth-method-separator">
            	<i>or</i>
        	</p>
		</div>

		<div class="row-fluid normal marginbottom4" id="personal_text"></div>

		<form id="signinForm1">

			<div class="clearfix  " id="name_field">
				<label id="labelFirstName" for="firstName"></label>
				<div class="input">
					<input type="text" id="firstName" name="firstName" value="">
				</div>
			</div>

			<div class="clearfix  " id="name_field">
				<label id="labelLastName" for="lastName"></label>
				<div class="input">
					<input type="text" id="lastName" name="lastName" value="">
				</div>
			</div>

			<div class="clearfix  " id="email_field">
				<label id="labelEmail" for="email"></label>
				<div class="input">
					<input type="text" id="email" name="email" value="">
				</div>
			</div>
		</form>
		<form id="signinForm2">
			<div class="clearfix  " id="password_field">
				<label id="labelPassword" for="password"></label>
				<div class="input">
					<input type="password" id="password" name="password">
				</div>
			</div>

			<div class="clearfix  " id="repeatPassword_field">
				<label id="labelRepeatPassword" for="repeatPassword"></label>
				<div class="input">
					<input type="password" id="repeatPassword" name="repeatPassword">
				</div>
			</div>

			<label id="labelBirthDate" for="birthDate"></label>
			<input type="date" name="date" id="mbirthDate" required/>

			<div class="clearfix  " id="name_field">
				<label id="labelSponsorCode" for="referrerId"></label>
				<div class="input">
					<input type="text" id="referrerId" name="referrerId" value="">
				</div>
			</div>
		
			<div class="row-fluid marginbottom2">
				<div class="span1">
					<div class="checkboxFive">
						<input type="checkbox" name="check1" id="check1"/>
						<label for="check1"></label>
					</div>
				</div>
				<div class="span8 offset2">
					<div class="row-fluid" id="check1Label">
					</div>
				</div>
			</div>

			<div class="row-fluid marginbottom2">
				<div class="span1">
					<div class="checkboxFive">
						<input type="checkbox" name="check2" id="check2"/>
						<label for="check2"></label>
					</div>
				</div>
				<div class="span8 offset2">
					<div class="row-fluid" id="check2Label">
					</div>
				</div>
			</div>
				
		</form>

		<div id="validateButton" class="btn-large button"></div>

	</div>

	<div id="question" style="display:none; cursor: default">
	
		<br />

		<div class="row-fluid">
			<div class="offset2 span8" id="questionText"></div>
		</div>
		
		<br />
		<br />
	
		<div class="row-fluid">
			<div class="span4 offset1" id="confirmFirstNameLabel"></div>
			<div class="span4 offset1"><p id="confirmFirstName"></p></div>
		</div>
	
		<div class="row-fluid">
			<div class="span4 offset1" id="confirmLastNameLabel"></div>
			<div class="span4 offset1"><p id="confirmLastName"></p></div>
		</div>
	
		<div class="row-fluid">
			<div class="span4 offset1" id="confirmBirthDateLabel"></div>
			<div class="span4 offset1"><p id="confirmBirthDate"></p></div>
		</div>
	
	
		<br />
		<br />
		
		<div class="row-fluid">
			<div id="no"  class="span6 btn-large button"></div>
			<div id="yes" class="span6 btn-large button"></div>
		</div>

		<br />
		<br />
	
	</div> 
</body>


<!-- Libs -->
<script src="http://code.jquery.com/jquery-1.9.1.js"></script>
<script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
<script type="text/javascript" src='@routes.Assets.at("js/libs/jquery.ui.touch-punch.min.js")'></script>

<script src='@routes.Assets.at("js/libs/jquery.blockUI.js")' type="text/javascript"></script>
<script src='@routes.Assets.at("js/libs/sha512.js")' type="text/javascript"></script>
<script src='@routes.Assets.at("js/libs/jquery.validate.min.js")' type="text/javascript"></script>
<script src='@routes.Assets.at("js/libs/spin.min.js")' type="text/javascript"></script>

<script src='@routes.Assets.at("js/webapp/managers/userManager.js")' type="text/javascript"></script>
<script src='@routes.Assets.at("js/webapp/app-common.js")' type="text/javascript"></script>
<script src='@routes.Assets.at("js/webapp/tools/utils.js")' type="text/javascript"></script>
<script src='@routes.Assets.at("js/libs/jquery.cookie.js")' type="text/javascript"></script>
<script src='@routes.Assets.at("js/webapp/tools/translator.js")' type="text/javascript"></script>


<script type="text/javascript">

    $(function() {
	   
       //-------------------------------------------// 
	   // setup 
	   
	   window.translator = new Translator(true);
	   UserManager.mobileSetupForms();
	
	   //-------------------------------------------//
	   
	   $("#mbirthDate").val("1970-01-01");
	   
	   $("#personal_text").text(Translator.messages["PersonalInfo"])
	   
	   $("#labelFirstName").text(Translator.messages["FirstName"])
	   $("#labelLastName").text(Translator.messages["LastName"])
	   $("#labelEmail").text(Translator.messages["Email"])
	   $("#labelBirthDate").text(Translator.messages["BirthDate"])
	   $("#labelPassword").text(Translator.messages["Password"])
	   $("#labelRepeatPassword").text(Translator.messages["RepeatPassword"])
	   $("#labelSponsorCode").text(Translator.messages["ReferrerCode"])
	
	   $("#confirmFirstNameLabel").text(Translator.messages["FirstName"] + " :")
	   $("#confirmLastNameLabel").text(Translator.messages["LastName"] + " :")
	   $("#confirmBirthDateLabel").text(Translator.messages["BirthDate"] + " :")
	
	   $("#check1Label").text(Translator.messages["AcceptTerms"])
	   $("#check2Label").text(Translator.messages["AcceptOffers"])
	   
	   $("#validateButton").text(Translator.messages["SignIn"])
	   
	   $("#questionText").text(Translator.messages["FBAttention"])
	   $("#yes").text(Translator.messages["Continue"])
	   $("#no").text(Translator.messages["GoBack"])
	   
	   //-------------------------------------------// 
	
	   $("#validateButton").click(function() {
	
	       if(UserManager.signinFormReady()){
		       	UserManager.mobileSignin2(function(result) {
		       	 	 var url = "/loggedin";
		             url += "?authToken=" + result.authToken;
		             window.location.href = url;
		        }); 
	      }
	
	   })
	
	   //-------------------------------------------// 
	   
	   $("#facebookButton").click(function() {
	      window.location.href = "/connectWithFB"
	   })
	
	   $("#mbirthDate").click(function() {
	       $("#mbirthDate").removeClass("error");
	   });
	
	   $("#check1").click(function() {
	       if($("#check1")[0].checked){
	           $("#check1Label").removeClass("error");
	       }
	       else{
	           $("#check1Label").addClass("error");
	       }
	   });
	
	   $("#check2").click(function() {
	       if($("#check2")[0].checked){
	           $("#check2Label").removeClass("error");
	       }
	       else{
	           $("#check2Label").addClass("error");
	       }
	   });

    });
</script>

</html>
