<!DOCTYPE html>

<html>
<head>
<meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0" />
<title>Adillions - Terms</title>
<link rel="shortcut icon" type="image/png" href='@routes.Assets.at("images/favicon.png")'>
<link rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css" />
<link rel="stylesheet" media="screen" href='@routes.Assets.at("css/bootstrap.min.css")' />
<link rel="stylesheet" media="screen" href='@routes.Assets.at("css/header.css")' />
<link rel="stylesheet" media="screen" href='@routes.Assets.at("css/mobile.css")' />
<link rel="stylesheet" media="screen" href='@routes.Assets.at("css/a/huge/footer.css")' />
<link rel="stylesheet" media="screen" href='@routes.Assets.at("css/a/huge/global.css")' />
<link rel="stylesheet" media="screen" href='@routes.Assets.at("css/a/huge/home.css")' />
<link rel="stylesheet" media="screen" href='@routes.Assets.at("css/b/big/footer.css")' />
<link rel="stylesheet" media="screen" href='@routes.Assets.at("css/b/big/global.css")' />
<link rel="stylesheet" media="screen" href='@routes.Assets.at("css/b/big/home.css")' />
<link rel="stylesheet" media="screen" href='@routes.Assets.at("css/c/medium/footer.css")' />
<link rel="stylesheet" media="screen" href='@routes.Assets.at("css/c/medium/global.css")' />
<link rel="stylesheet" media="screen" href='@routes.Assets.at("css/c/medium/home.css")' />
<link rel="stylesheet" media="screen" href='@routes.Assets.at("css/d/small/footer.css")' />
<link rel="stylesheet" media="screen" href='@routes.Assets.at("css/d/small/global.css")' />
<link rel="stylesheet" media="screen" href='@routes.Assets.at("css/d/small/home.css")' />
<link rel="stylesheet" media="screen" href='@routes.Assets.at("css/e/tiniest/footer.css")' />
<link rel="stylesheet" media="screen" href='@routes.Assets.at("css/e/tiniest/global.css")' />
<link rel="stylesheet" media="screen" href='@routes.Assets.at("css/e/tiniest/home.css")' />
</head>

@import views.html.mobile.header;
@import views.html.templates.components.termsContentFR;

<body>
	@header()

	<div class="content">
		<img id="closeButton" src='@routes.Assets.at("images/ko.png")' class="mobilecloser"></img>
	</div>

	@termsContentFR()
</body>

<script src="http://code.jquery.com/jquery-1.9.1.js"></script>
<script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>

<script type="text/javascript">
   $("#closeButton").click(function() {
      window.location.href = "/backToMobile"
   });
</script>

</html>
