<!DOCTYPE html>

<html>
<head>
<meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0" />
<title>Adillions - Video</title>
<link rel="shortcut icon" type="image/png" href='@routes.Assets.at("images/favicon.png")'>
<link rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css" />
<link rel="stylesheet" media="screen" href='@routes.Assets.at("css/video-js.css")' />
</head>

<body id="body">
    <div class="row-fluid">
        <div class="span6 offset3">
            <div id="playerContainer" style="width: 480px; height: 390px; float: left; position: absolute">
                <a href="javascript:void(0)" id="hRefClickTag" style="cursor: default">
                 
                    <video id="player"
                        class="video-js vjs-default-skin" width="640" height="264" poster="http://video-js.zencoder.com/oceans-clip.png"                        >
                    </video>
                </a>
            </div>
        </div>
    </div>

</body>

<!-- Libs -->
<script src="http://code.jquery.com/jquery-1.8.3.js"></script>
<script type="text/javascript" src='@routes.Assets.at("js/libs/yume/yume_html5_sdk.js")'></script>
<script type="text/javascript" src='@routes.Assets.at("js/libs/yume/yume_vast_util.js")'></script>
<script src='@routes.Assets.at("js/webapp/tools/yume.js")' type="text/javascript"></script>

<script type="text/javascript">
    $(function() {
        Yume.yumeSDKInstance.yume_startAd(YuMeHTML5SDK.prototype.yume_adBlockType.PREROLL_BLOCK);
    })
</script>

</html>
