@import views.html.templates.webapp;

<!doctype html>
<meta http-equiv="X-UA-Compatible" content="IE=Edge">

<html>
    <head>
        <title>@Messages("applicationName")</title>
        <link rel="shortcut icon" type="image/png" href="http://static.maperial.com/images/global/favicon.png">
		<link rel="stylesheet" media="screen" href="assets/css/maperial-webapp.min.localhost.css" /> 
    </head>
    
  	<body id="body">
	    <!-- ================================================== -->
	    <!-- frame -->

	    <div id="webappDiv"></div>
		
	    <!-- ================================================== -->
	    
		@webapp()
		
	    <!-- ================================================== -->
	    <!-- Javascript - 
	    		Placed at the end of the document so the pages (appear to) load faster -->
		
		<!-- -------------   Webapp -------------------->
		
		<!-- Analytics
		<script type="text/javascript">

			  var _gaq = _gaq || [];
			  _gaq.push(['_setAccount', 'UA-40162385-1']);
			  _gaq.push(['_setDomainName', 'maperial.com']);
			  _gaq.push(['_setAllowLinker', true]);
			  _gaq.push(['_trackPageview']);
			
			  (function() {
			    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
			    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
			    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
			  })();
			
		</script>
		 -->
    </body>
        
</html>
