/***** [ medium ] *****/
@media screen and ( max-width : 1170px) {
	/************************************************/
	.centered {
		float: none;
		margin: 0 auto;
	}

	/*--------------------------------*/
	#homeContent {
		padding: 0;
		z-index: 1;
	}

	/*--------------------------------*/
	.websiteContent {
		padding-top: 50px;
	}

	/*--------------------------------*/

	#themeWeb {
		margin-top: 10px;
		margin-left: -107px;
	}
	#themeText {
		margin-top: -104px;
		margin-left: -155px;
	}
}