<div id="confirmWindow" class="reveal-modal">
	<a id="lightbox-close" class="close-reveal-modal btn btn-rounded btn-icon-only btn-dark closer"> <i class="icon icon-ex-white-outline"></i></a> <br />

	<div class="row-fluid">
		<div class="offset1">{{App.translations.messages.FBText2}}</div>
	</div>
	
	<br />
	<br />

	
	<div class="row-fluid">
		<div class="span3 offset1">{{App.translations.messages.FirstName}} : </div>
		<div class="span3 offset1"><p id="confirmFirstName"></p></div>
	</div>

	<div class="row-fluid">
		<div class="span3 offset1">{{App.translations.messages.LastName}} : </div>
		<div class="span3 offset1"><p id="confirmLastName"></p></div>
	</div>

	<div class="row-fluid">
		<div class="span3 offset1">{{App.translations.messages.BirthDate}} : </div>
		<div class="span3 offset1"><p id="confirmBirthDate"></p></div>
	</div>


	<br />
	<br />
	
	<div class="row-fluid">
		<div {{action openSignin}} class="span4 offset1 btn-large button">{{App.translations.messages.GoBack}}</div>
		<div {{action signin}} class="span4 btn-large button">{{App.translations.messages.Continue}}</div>
	</div>

	<br />
	<br />
</div>