<div id="loginWindow" class="reveal-modal">
	<a id="lightbox-close" class="close-reveal-modal btn btn-rounded btn-icon-only btn-dark closer"> <i
		class="icon icon-ex-white-outline"></i></a> <br />
	
		
	<div class="row-fluid">
		<div {{action facebookLogin}} id="facebookButton" class="span10 offset1 btn-large button-facebook">{{App.translations.messages.ConnectWithFacebook}}</div>
	</div>
	<div class="row-fluid">
		<p class="auth-method-separator">
           	<i>or</i>
       	</p>
	</div>

	<br />

	<div id="login" class="row-fluid">

		<div class="span5 offset1">
			
			<form id="loginForm">

				<div class="clearfix  " id="email_field">
					<label for="loginemail">{{App.translations.messages.Email}}</label>
					<div class="input">
						<input type="text" id="loginemail" name="loginemail" value="">
					</div>
				</div>

				<div class="clearfix  " id="password_field">
					<label for="loginpassword">{{App.translations.messages.Password}}</label>
					<div class="input">
						<input type="password" id="loginpassword" name="loginpassword">
					</div>
				</div>

			</form>

		</div>

	</div>
	<div class="row-fluid">
		<div {{action login}} class="span10 offset1 btn-large button">{{App.translations.messages.LogIn}}</div>
	</div>
	<div class="row-fluid classictext">
		<div class="span4 offset8">{{App.translations.messages.NoAccount}} <a {{action openSignin}} class="link">{{App.translations.messages.SignIn}} !</a></div>
	</div>

	<br />
</div>