<div id="noMoreTicketsWindow" class="reveal-modal">
	<a id="lightbox-close" class="close-reveal-modal btn btn-rounded btn-icon-only btn-dark closer"> 
		<i class="icon icon-ex-white-outline"></i>
	</a> 
	<br/>
	
	<div class="row-fluid">
		<p>{{App.translations.messages.MaxTickets1}}</p>
	</div>
		
	<div class="row-fluid">
		<p>{{App.translations.messages.MaxTickets2}}</p>
	</div>
	
	<div class="row-fluid">
		<div {{action facebookLogin}} id="facebookButton" class="span10 offset1 btn-large button-facebook">Connect with Facebook</div>
	</div>

	<div class="row-fluid">
		<div {{action twitterLogin}} id="twitterButton" class="span10 offset1 btn-large button-twitter">Connect with Twitter</div>
	</div>
	
</div>