<div id="shareWindow" class="reveal-modal">
	
	<div class="row-fluid">
		<div class="span3">
			<div class="btn-large button">Twitter</div>
		</div>
	</div>
	
	
	<div class="row-fluid">
		<div class="span3">
			{{#if App.user.hasTwitterAccount}}
			<div class="btn-large button">Tweet</div>
			{{else}}
			<div class="btn-large button">Connect to twitter</div>
			{{/if}}
		</div>
	</div>
	
	<div class="row-fluid">
		<div class="span3">
			{{#if App.user.hasFacebookAccount}}
			<div class="btn-large button">Share on Facebook</div>
			{{else}}
			<div class="btn-large button">Connect to Facebook</div>
			{{/if}}
		</div>
	</div>
	
	
	<div class="row-fluid" {{action closeModal}}>
		<div class="span2 offset5 touchable">
			{{langImage App.user.lang png='popup.Bt_close.png'}}
		</div>
	</div>
	
	
</div>