<div id="signinFBWindow" class="reveal-modal">
	<a id="lightbox-close" class="close-reveal-modal btn btn-rounded btn-icon-only btn-dark closer"> <i
		class="icon icon-ex-white-outline"></i></a> <br />

	<div class="row-fluid">
		<div class="span5 offset2">
			<p id="fbForm_title" class="popuptitle"></p>
		</div>
		<div class="span3 offset2">
			<img title="icon" id="facebookPicture"></img>
		</div>
	</div>

	<br />

	<div id="signin" class="row-fluid">

		<form id="fbForm">
			<div class="span5 offset1">

				<div class="clearfix  " id="name_field">
					<label for="firstName">{{App.translations.messages.FirstName}}</label>
					<div class="input">
						<input type="text" id="fbForm_firstName" name="firstName" > 
					</div>
				</div>

				<div class="clearfix  " id="name_field">
					<label for="lastName">{{App.translations.messages.LastName}}</label>
					<div class="input">
						<input type="text" id="fbForm_lastName" name="lastName" > 
					</div>
				</div>

				<div class="clearfix  " id="name_field">
					<label for="email">{{App.translations.messages.Email}}</label>
					<div class="input">
						<input type="text" id="fbForm_email" name="email" > 
					</div>
				</div>

				<label for="birthDate">{{App.translations.messages.BirthDate}}</label>
				<input type="text" id="fbForm_birthDate" name="birthDate" readonly style="cursor:pointer!important;"/>
				
				<div class="clearfix  " id="name_field">
					<label for="referrerId">{{App.translations.messages.ReferrerCode}}</label>
					<div class="input">
						<input type="text" id="fbForm_referrerId" name="referrerId" > 
					</div>
				</div>
			</div>
	
			<div class="span5">
				<p>{{App.translations.messages.FBUsername}}</p>
				<p>{{App.translations.messages.FBImportant}}</p>
				<p>{{App.translations.messages.FBRealName}}</p>
				<p>{{App.translations.messages.FBReceive}}</p>
	
				<br/>
	
				<div class="clearfix">
					<input type="checkbox" name="check1" id="check1"/>
					<label for="email">{{App.translations.messages.AcceptTerms}}</label>
				</div>
	
				<div class="clearfix" id="check2">
					<input type="checkbox" name="check2" id="check2"/>
					<label for="email">{{App.translations.messages.AcceptOffers}}</label>
				</div>
				
				<br/>
				
				<div {{action openConfirmFB}} class="btn-large button">{{App.translations.messages.SignIn}}</div>
			</div>
		</form>

	</div>

	<br />
</div>