<div id="signinWindow" class="reveal-modal">
	<a id="lightbox-close" class="close-reveal-modal btn btn-rounded btn-icon-only btn-dark closer"> <i
		class="icon icon-ex-white-outline"></i></a> <br />

	<div class="row-fluid">
		<div {{action facebookLogin}} id="facebookButton" class="span10 offset1 btn-large button-facebook">Connect with Facebook</div>
	</div>
	<div class="row-fluid">
		<p class="auth-method-separator">
           	<i>or</i>
       	</p>
	</div>

	<br />

	<div id="signin" class="row-fluid">

		<div class="span5 offset1">
			
			<form id="signinForm1">

				<div class="clearfix  " id="name_field">
					<label for="firstName">First name</label>
					<div class="input">
						<input type="text" id="firstName" name="firstName" value=""> 
					</div>
				</div>

				<div class="clearfix  " id="name_field">
					<label for="lastName">Last name</label>
					<div class="input">
						<input type="text" id="lastName" name="lastName" value=""> 
					</div>
				</div>

				<div class="clearfix  " id="email_field">
					<label for="email">E-mail</label>
					<div class="input">
						<input type="text" id="email" name="email" value="">
					</div>
				</div>
			</form>
		</div>

		<div class="span5">
			
			<form id="signinForm2">

				<div class="clearfix  " id="password_field">
					<label for="password">Password</label>
					<div class="input">
						<input type="password" id="password" name="password">
					</div>
				</div>

				<div class="clearfix  " id="repeatPassword_field">
					<label for="repeatPassword">Repeat password</label>
					<div class="input">
						<input type="password" id="repeatPassword" name="repeatPassword"> 
					</div>
				</div>
				
				<label for="birthDate">Birth date</label>
				<input type="text" id="birthDate" name="birthDate" readonly style="cursor:pointer!important;"/>

				<div class="clearfix  " id="name_field">
					<label for="referrerId">Referrer Id</label>
					<div class="input">
						<input type="text" id="referrerId" name="referrerId" value=""> 
					</div>
				</div>

			</form>
		</div>

	</div>
	
	<div class="row-fluid">
		<div {{action signin}} class="span10 offset1 btn-large button">{{App.translations.messages.SignIn}}</div>
	</div>

	<br />
</div>