<div id="videoWindow" class="reveal-modal">
    <a id="lightbox-close" class="close-reveal-modal btn btn-rounded btn-icon-only btn-dark closer"> <i class="icon icon-ex-white-outline"></i></a>
    
    <div id="playerContainer" class="span10 offset1 margintop5">
       <a href="javascript:void(0)" id="hRefClickTag" style="cursor: default">
        
           <video id="player"
               class="video-js vjs-default-skin" width="640" height="264" poster="http://video-js.zencoder.com/oceans-clip.png"                        >
           </video>
       </a>
   </div>
</div>
